@import "src/assets/styles/_for-react-components.scss";

$parent: "player-video";

@include block($parent) {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
