@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Inter-200.ttf") format('truetype');
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Inter.ttf") format('truetype');
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Inter-500.ttf") format('truetype');
}

@font-face {
  font-family: "Lithium";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Lithium1.ttf") format('truetype');
}
